<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
        <div class="container-fluid">
                <a class="navbar-brand" href="">Trabajos</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
                        aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                        <ul class="navbar-nav me-auto mb-2 mb-md-0"></ul>
                </div>
        </div>
</nav>

<br>
<div class="">
        <input type="text" class="form-control" id="input-search1">
        <button id="btn-Search" class="btn btn-info"><b>Search</b></button>
        <button id="btn-Post" class="btn btn-info"><b>Post a job</b></button>
</div>
<br>
<h2 id="h2-post">POST JOBS</h2>
<br>
<form enctype="multipart/form-data" action="/admin/poster/{{datos.id}}" method="POST" class="form-control">
        <label for="Combox-Categoria" id="post-label-categoria" class="custom-select">Categoria</label>
        <select name="categoria" id="Combox-Categoria" required>
                <option value="">Select an Option</option>
                <option value="Desing" {{#if (compare datos.categoria 'Desing' )}}selected{{/if}}>Desing</option>
                <option value="Programacion" {{#if (compare datos.categoria 'Programacion' )}}selected{{/if}}>
                        Programacion</option>
        </select>
        <br>
        <br>
        <label for="" id="type-post">Type</label>
        <input type="radio" name="type" value="Full Time" {{#if (compare datos.type "Full Time" )}}checked{{/if}}
                required>Full Time
        <input type="radio" name="type" value="Part Time" {{#if (compare datos.type "Part Time" )}}checked{{/if}}
                required>Part Time
        <input type="radio" name="type" value="Freelance" {{#if (compare datos.type "Freelance" )}}checked{{/if}}
                required>Freelance
        <br>
        <br>
        <label for="" id="company-post">Company</label>
        <input type="text" name="company" id="input-company" value="{{datos.company}}" required>
        <br>
        <br>
        <label for="" id="logo-post">Logo</label>
        <div class="mt-3" id="image-contaner">
                {{#if (compare datos.logo "" )}}
                <input type="file" name="logo" id="input-logo">
                {{else}}

                <img id="image" src="{{datos.logo}}" class="h-200">
                <input type="hidden" name="oldLogo" value="{{datos.logo}}">
                <button class="btn btn-danger d-inherit mt-2" type="button" id="eliminar">eliminar</button>

                {{/if}}
        </div>

        <br>
        <br>

        <label for="" id="url-post">URL</label>
        <input type="text" name="url" id="input-url" value="{{datos.url}}">
        <br>
        <br>

        <label for="" id="position-post">Position</label>
        <input type="text" id="input-position" name="position" value="{{datos.position}}" required>
        <br>
        <br>
        <label for="" id="location-post">Location</label>
        <input type="text" name="location" id="input-location" value="{{datos.location}}" required>
        <br>
        <br>
        <label for="" id="description-post">Description</label>

        <br>
        <br>
        <textarea name="description" id="textarea-post" cols="30" rows="10" required>{{datos.description}}</textarea>
        <br>
        <label for="radio" id="type-post">Status</label>
        <input type="radio" name="active" value="true" required {{#if  datos.active }}checked{{/if}}>Eneble
        <input type="radio" name="active" value="false" required {{#if  datos.active }}{{else}}checked{{/if}}>Diseble
        <br>
        <br>
        <br>
        
        <button type="submit" class="btn btn-info" id="boton-post"><b>Enviar </b></button>
</form>