{{#if error}}<div class="alert">
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <ul>
            {{#if exitsUser}}
            <li>
                <strong>Ya existe un usuario con ese nombre de usuario</strong> 
            </li>
            {{/if}}
            {{#if exitsEmail}}
            <li>
                <strong>Ya existe un usuario con ese email</strong>    
            </li>
            {{/if}}
        </ul>


        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
</div>{{/if}}

<form action="/create-account" method="post">
    <h2 id="h2-post">POST JOBS</h2>

    <br>
    <label for="name">Name</label>
    <input type="text" name="name" required value="{{name}}">
    <br>
    <br>
    <label for="lastname">Lastname</label>
    <input type="text" name="lastname" id="input-logo" required value="{{lastname}}">
    <br>
    <br>

    <label for="username">Username</label>
    <input type="text" name="username" required value="{{username}}" {{#if exitsUser}} class="border-danger" {{/if}}>
    <br>
    <br>

    <label for="password">Password</label>
    <input type="password" name="password" required value="{{password}}">
    <br>
    <br>
    <label for="email">Email</label>
    <input type="email" name="email" required value="{{email}}" {{#if exitsEmail}} class="border-danger" {{/if}}>

    <br>
    <br>
    <br>
    <br>
    <button type="submit" class="btn btn-info" id="boton-post"><b>Enviar</b></button>
</form>





</form>