
{{#if enableDesing}}
<h2><img src="https://us.123rf.com/450wm/pytyczech/pytyczech1707/pytyczech170700051/81581133-icono-de-gota-negra-s%C3%ADmbolo-de-aceite-o-agua-ejemplo-plano-simple-del-vector-con-la-sombra-aislada-e.jpg?ver=6"
        alt="desing.JPG" id="img-desing"><a href='/job/all/desing'> Desing</h2></a>


<table class="table table-bordered table-hover mt-4">
    <thead class="table-dark">
        <tr>
            <th scope="col">Location</th>
            <th scope="col">Company</th>
            <th scope="col">Position</th>
        </tr>
    </thead>
    <tbody>
        {{#each desing}}
        <tr class='clickable-row' data-href='/job/{{this.id}}'>
            <td>{{this.location}}</td>
            <td>{{this.company}}</td>
            <td>{{this.position}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>
{{#if allDesing}}
<a href="job/all/desing">See more jobs</a>
{{/if}}
{{/if}}

{{#if enableProgramacion}}
<h2><img src="https://www.pngitem.com/pimgs/m/174-1746684_java-java-logo-black-png-transparent-png.png"
        id="img-programming"><a href="/job/all/programacion"> Programacion</a></h2>
<table class="table table-bordered table-hover mt-4">
    <thead class="table-dark">
        <tr>
            <th scope="col">Location</th>
            <th scope="col">Company</th>
            <th scope="col">Position</th>
        </tr>
    </thead>
    <tbody>
        {{#each programacion}}
        <tr class='clickable-row' data-href='/job/{{this.id}}'>
            <td>{{this.location}}</td>
            <td>{{this.company}}</td>
            <td>{{this.position}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>
{{#if allProgramcion}}
<a href="job/all/programacion">See more jobs</a>
{{/if}}
{{/if}}