
    <br>
    <div class="">
        <input type="text" id="input-search" class="form-control">
        <button id="btn-Search" name="" class="btn btn-info"><b>Search</b></button>
        <button id="btn-Post" name="" class="btn btn-info"><a href="anuncio-puesto-de-trabajos.html" id="link-Post"><b>Post a job</b></a></button>
    </div>





{{!-- {{#each datos}}
     <img src="{{this.logo}}" width="200">
     <h2>{{this.categoria}}</h2>
     <h2>{{this.type}}</h2>
     <h2>{{this.company}}</h2>
     <h2>{{this.position}}</h2>
     <h2>{{this.description}}</h2>
{{/each}} --}}

    

    <h2><img src="https://us.123rf.com/450wm/pytyczech/pytyczech1707/pytyczech170700051/81581133-icono-de-gota-negra-s%C3%ADmbolo-de-aceite-o-agua-ejemplo-plano-simple-del-vector-con-la-sombra-aislada-e.jpg?ver=6" alt="desing.JPG" id="img-desing"><a href="puestos-trabajos-desing.html" id="h2-desing">Desing</a></h2>
    <table class="table table-bordered table-hover">
        <thead class="table-dark">
            <th>Location</th>
            <th>Company</th>
            <th>Position</th>

        </thead>
        <tbody>
                {{#each desing}}
                 <tr class="desing">
                    <input type="hidden" name="klk">
                    <td ><p class="card-text">{{this.location}}</p></td>
                    <td><p class="card-text">{{this.company}}</p></td>
                    <td><p class="card-text">{{this.position}}</p></td>
                </tr>
                {{/each}}
        </tbody>
                
       </table>
<br>
<br>
<br>

    <h2><img src="https://www.pngitem.com/pimgs/m/174-1746684_java-java-logo-black-png-transparent-png.png" id="img-programming"><a  href="puestos-trabajos-desing.html" id="h2-programming" >Programacion</a></h2>
    <table class="table table-bordered table-hover">
        <thead  class="table table-dark">
            <th>Location</th>
            <th>Company</th>
            <th>Position</th>
        </thead >

                 {{#each programacion}}
                 <tr>
                    <td><p class="card-text">{{this.location}}</p></td>
                    <td><p class="card-text">{{this.company}}</p></td>
                    <td><p class="card-text">{{this.position}}</p></td>
                </tr>
                {{/each}}
    </table>


    