
<h1>HELLO klk</h1>
<h2>eddy</h2>

<h2>radhames</h2>



{{#each datos}}
     <img src="{{this.logo}}" width="200">
     <h2>{{this.categoria}}</h2>
     <h2>{{this.type}}</h2>
     <h2>{{this.company}}</h2>
     <h2>{{this.position}}</h2>
     <h2>{{this.description}}</h2>
{{/each}}

