<div class="row">
    <div class="col-md-3">

        <div class="accordion" id="accordionPanelsStayOpenExample">
            <div class="accordion-item">
                <h2 class="accordion-header" id="panelsStayOpen-headingOne">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                        data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true"
                        aria-controls="panelsStayOpen-collapseOne">
                        Category
                    </button>
                </h2>
                <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show"
                    aria-labelledby="panelsStayOpen-headingOne">
                    <div class="accordion-body">

                        <div class="form-check form-switch">
                            <input class="form-check-input" type="checkbox" id="check-design" {{#if enableDesign}}
                                checked{{/if}}>
                            <label class="form-check-label" for="check-design">Design</label>
                        </div>
                        <div class="form-check form-switch">
                            <input class="form-check-input" type="checkbox" id="check-programming" {{#if
                                enableProgramming}} checked{{/if}}>
                            <label class="form-check-label" for="check-programming">Programming</label>
                        </div>


                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                        data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="true"
                        aria-controls="panelsStayOpen-collapseTwo">
                        Pagination
                    </button>
                </h2>
                <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse show"
                    aria-labelledby="panelsStayOpen-headingTwo">
                    <div class="accordion-body">
                        <div class="row m-1">
                            <div class="col-md-8">
                                 <input type="number" name="pagination" id="pagination" class="form-control" value="{{limit}}">
                            </div>
                            <div class="col-md-3">
                                <input type="button" value="Guardar" id="guardar" class="btn btn-primary">
                            </div>
                           
                            
                        </div>
                    </div>
                </div>
            </div>
           
        </div>

    </div>
    <div class="col-md-9">
        <button class="btn btn-primary" id="delete">Delete</button>
        <table class="table table-bordered table-hover mt-4">
            <thead class="table-dark">
                <tr>
                    <th scope="col">Location</th>
                    <th scope="col">Company</th>
                    <th scope="col">Position</th>
                    <th scope="col">Editar</th>
                    <th scope="col"><input type="checkbox" id="main-check" name="check" value="{{this.id}}"></th>
                </tr>
            </thead>
            <tbody>
                {{#each datos}}
                <tr>
                    <td>{{this.location}}</td>
                    <td>{{this.company}}</td>
                    <td>{{this.position}}</td>
                    <td><a class="btn btn-primary" href='/admin/job/{{this.id}}?edit=true'>Edit</a></td>
                    <td><input type="checkbox" value="{{this.id}}"></td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</div>